@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  font-family: "Poppins", sans-serif !important;
}
 .border {
  border: 2px solid white;   
  border-radius: 10px;
}      


.btn-floating .fa-facebook-f:hover {
  color: #3b5998 !important;
}

.btn-floating .fa-twitter:hover {
  color: #00acee !important;
}

.btn-floating .fa-google:hover {
  color: #db4a39 !important;
}


.btn-floating:hover i {
  transform: scale(1.1);
  transition: transform 0.2s ease, color 0.3s ease;
}


